/* Basic Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7faef;
  line-height: 1.6;
}

/* Auth Container (Login/Register) */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 500px;
}

.auth-header {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #666;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
}

.btn-primary {
  background-color: #007bff;
}

.btn-success {
  background-color: #007bff;
}

.btn-danger {
  background-color: #35dc5c;
}

.auth-link {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.auth-link a {
  color: #007bff;
  text-decoration: none;
}

/* Dashboard */
.dashboard-container {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #a03ee6;
  color: white;
}

.nav-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.dashboard-content {
  padding: 2rem;
  text-align: center;
}

.dashboard-content h1 {
  margin-bottom: 1rem;
  color: #333;
}
